.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    .modal {
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        animation: show-modal 0.7s ease-in-out forwards;
        background-color: #fff;
        border-radius: 8px;

        .modal-header {
            position: relative;

            .close-animate {
                animation: fade-out ease 0.3s;
                position: absolute;
                right: 1vw;
                top: 0vw;

                svg {
                    width: 1vw;
                    height: 1vw;
                }
            }
        }

        .modal-container {
            padding: 2vw 1vw;
        }
    }
}

.dark-bg {
    animation: fade-in ease .3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
}

@keyframes show-modal {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    60% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    80% {
        transform: translate(-50%, -50%) scale(0.95);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
