.UserList {
    .UserListWrapper {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        gap: 2vh;
        max-width: 600px;
        width: max-content;
        margin: 0 auto;
        padding: 1vh;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
}
