.Item {
    position: relative;
    display: flex;
    padding: 0.8vh;
    border-radius: 8px;
    border: 1px solid dimgray;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    flex-wrap: wrap;

    .Logo {
        border-radius: 50%;
        width: 4vh;
        height: 4vh;
        margin: 0;
    }

    .unread-count {
        background-color: #008eff;
        color: white;
        padding: 5px;
        border-radius: 50%;
        margin: auto 0;
        margin-left: auto;
        width: 2vh;
        height: 2vh;
        text-align: center;
        line-height: 2vh;
    }

    &:hover {
        background-color: #ebebeb;
    }

    &:active {
        background-color: #dcdcdc;
    }
}

.GroupItem, .ChannelItem {
    @extend .Item;
    background-color: #f5f5f5;

    .GroupInfo {
        margin: 0 10px;

        .GroupTitle {
            font-size: 2vh;
            font-weight: bold;
            margin: 0px;
            overflow: hidden;
            max-width: 13vw;
            word-wrap: break-word;
            max-height: 10vh;
        }

        .GroupMembers {
            font-size: 1.5vh;
            color: darkgray;
        }
    }
}

.DialogItem {
    @extend .Item;
    background-color: #f2f2f2;

    .PhotoBox {
        //@extend .Logo;
        position: relative;
        margin-right: 0.5vw;
    }

    .CompanionName {
        font-size: 2vh;
        font-weight: bold;
        max-width: 9vw;
        overflow-wrap: break-word;
        margin: auto 0;
    }

    .marker {
        position: absolute;
        bottom: 1px;
        right: 0.1vw;
        width: 1vh;
        height: 1vh;
        border-radius: 50%;
    }

    .marker.online {
        background-color: green;
    }

    .marker.offline {
        background-color: red;
    }
}

.active-chat {
    border-left: 5px solid #0056b3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}