
.ListWrapper {
    height: 100%;
}

.Bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.BarField {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.BarBtns {
    margin-left: 10px;
}

.btn {
    width: 100%;
    padding: 2px 5px;
    font-size: 16px;
    border: 1px solid DimGrey;
    border-radius: 4px;
    cursor: pointer;
}

.btn.active {
    background-color: #ccc;
}

.List {
    display: flex;
    height:100%;
    flex-direction: column;
    max-height: 75vh;
    overflow: auto;
}

.FoundUsers, .FoundChannels {
    height: 49%;
    margin-bottom: 2px;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    p {
        margin: 0px;
    }
}






