.aboutLogoWrapper {
    display: flex;
    min-width: 220px;
    height: 200px;
    align-items: center;
    position: relative;
    overflow: hidden;

    .aboutLogo {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
    }

    .aboutLogo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 5px;
        right: -50px;
        transition: right 0.3s ease;
        padding: 2px 5px;
        border-radius: 25%;
        font-size: 16px;
    }

    &:hover {
        button {
            right: 5px;
        }
    }

    .aboutTitle {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 2px black;
        color: antiquewhite;
        position: absolute;
        bottom: 0px;
        left: 0px;
        word-wrap: break-word;
        width: -webkit-fill-available;
        padding: 5px;
        border-radius: 0px 0px 10px 10px;
        background-color: #332d2d7d;
    }
}

.aboutDescription {
    font-size: 16px;
    padding: 10px;
    color: #333;
    margin-bottom: 10px;
    word-break: break-word;
}
