.aboutLogoWrapper {
    display: flex;
    height: 20vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    .aboutLogo {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .aboutLogo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .aboutTitle {
        font-size: 2vh;
        font-weight: bold;
        text-shadow: 0 0 2px black;
        color: antiquewhite;
        position: absolute;
        bottom: 0px;
        left: 0px;
        word-wrap: break-word;
        width: -webkit-fill-available;
        padding: 5px;
        border-radius: 0px 0px 10px 10px;
        background-color: #332d2d7d;
    }
}

.aboutDescription {
    font-size: 1.5vh;
    padding: 1vh;
    color: #333;
    margin-bottom: 1vh;
    word-break: break-word;
}
