.DialogItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 1px solid DimGrey;
    margin-bottom: 5px;
    position: relative;

    .PhotoBox {
        position: relative;
        margin-right: 10px;
    }

    .CompanionPhoto {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .CompanionName {
        font-size: 16px;
        font-weight: bold;
    }

    label {
        max-width: 170px;
        overflow-wrap: break-word;
    }

    .marker {
        position: absolute;
        bottom: 2px;
        right: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .marker.online {
        background-color: green;
    }

    .marker.offline {
        background-color: red;
    }

    &:hover {
        background-color: #ebebeb;
    }

    &:active {
        background-color: #dcdcdc;
    }
}
