.DoYouWantModalWrapper {
    
    .yesNoBtns {
        display:flex;
        flex-direction:row;
        gap:10px;

        button {
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            color: #333;

            &.yesButton {
                background-color: #007bff;
                color: #ffffff;

                &:hover {
                    background-color: #0056b3;
                }
            }

            &.noButton {
                background-color: #ff0000;
                color: #ffffff;

                &:hover {
                    background-color: #b30000;
                }
            }
        }
    }
}
