.aboutBox {
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    position: relative;

    .aboutInfo {
        border-radius: 10px;
        background-color: #8080804f;
        max-width: 300px;
    }

    .kickBtn {
        position: absolute;
        bottom: 2px;
        right: 4px;
        background-color: red;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .statusBar {
        position: absolute;
        top: 0px;
        right: 4px;
        font-weight: bold;
    }
}

.aboutButtonsBot {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    right:0px;
    justify-content: space-around;
    width: 100%;

    .inviteButton {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #0056b3;
        }
    }

    .leaveButton {
        padding: 10px 20px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #c82333;
        }
    }
}
