.GroupItem {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid dimgray;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    flex-wrap: wrap;

    &:hover {
        background-color: #ebebeb;
    }

    &:active {
        background-color: #dcdcdc;
    }
}

.Logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.GroupInfo {
    margin: 0 10px;

    .GroupTitle {
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
        overflow: hidden;
        max-width: 13vw;
        word-wrap: break-word;
        max-height: 7vh;

    }

    .GroupMembers {
        font-size: 14px;
        color: darkgray;
    }
}

