.modal-wrapper {
    position: fixed;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    z-index: 2;

    .modal {
        width: auto;
        height: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        animation: show-modal 0.7s ease-in-out forwards;
        background-color: #fff;
        border-radius: 8px;

        .modal-header {
            position: relative;

            .close-animate {
                animation: fade-out ease 0.3s;
                position: absolute;
                right: 1vw;
                top: 0.5vw;
                cursor: pointer;

                svg {
                    width: 1vw;
                    height: 1vw;
                }
            }
        }

        .modal-container {
            padding: 2vw 1vw;
        }

        p {
            font-size: 1.5vh;
            margin-bottom: 2vh;
            margin:5px;
            font-weight:bold;
        }

        input,
        button {
            width: -webkit-fill-available;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .saveBtn {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .saveBtn:hover {
            background-color: #0056b3;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
}

.dark-bg {
    animation: fade-in ease .3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:2;
}

@keyframes show-modal {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    60% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    80% {
        transform: translate(-50%, -50%) scale(0.95);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


